<%-include('../partials/header')%>
    <link rel="stylesheet" href="/stylesheets/wishlist/wishlist.css">


    <div class="order__wrapper">
        <%-include('../partials/backArrow')%>


            <h1 class="cart__title">My Wishlist</h1>


            <div class="orders">

                <%if(wishlist.length>0){%>
                    <%wishlist.forEach(function(product){%>

                        <div class="order"  data-aos="fade-up"  data-aos-once="true" data-aos-delay="200"
                            data-aos-duration="400">

                            <a href="/products/<%=product._id%>">
                                <img class="order__image" src="<%=product.image%>">
                            </a>
                            <div class="order__info">
                                <h4 class="order__name">
                                    <%=product.name%>

                                </h4>

                                <div class="order__footer">
                                    <span class="order__price">₹<%=product.price%></span>

                                </div>
                            <form action="/wishlist/<%=product._id%>?_method=DELETE" method="POST">
                                <button class="order__delete__btn">Delete</button>
                            
                            </form>

                    
                            </div>



                        </div>

                        <%})%>

                            <%}else{%>
                                <div class="not__found">
                                    <h4 class="not__found__text">wishlist is empty</h4>
                                    <div class="not__found__img"></div>


                                </div>

                                <%}%>


            </div>


    </div>
    <script src="/scripts/cart.js"></script>

    <%-include('../partials/footer')%>